pytest
pylint
ipdb
jupyterlab
notebook
numpy
pandas

scikit-learn
ipdb
google-cloud-bigquery
google-cloud-storage
mlflow

### NLP ###
nltk

### STREAMLIT ###

streamlit

altair
openpyxl
plotly
plotly.express
plotly.graph_objects
gcsfs

#### API ###

uvicorn
fastapi
colorama
pytz
